body{
    font-family: sans-serif;
    background-color: white;
}
header{
    border: 1px solid blue;
    padding: 10px;
    background-image: url(bunga.jpg); 
    color: white;
}
header a{
    color: white;
    text-decoration: none;
}

header a:hover {
    color: skyblue;
}

header a:visited {
    color: rgb(1, 1, 105);
}


nav{
    text-align: right;
    font-size: 20px;
}

h1 {
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 50px;
    text-shadow: 4px 4px 3px #77f;
}

main a {
    color: rgb(0, 0, 211);
}

main a:hover {
    color: skyblue;
}

main a:visited {
    color: rgb(61, 61, 61);
}