body{
    font-family: sans-serif;
    background-color: white;
}
header{
    border: 1px solid blue;
    padding: 15px;
    background-image: url(bunga.jpg); 
    color: white;
}
header a{
    color: white;
    text-decoration: none;
}

header a:hover {
    color: skyblue;
    font-weight: 900;
}

nav{
    text-align: right;
}

h1 {
    color: wheat;
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 50px;
    text-shadow: 4px 4px 3px #77f;
}

main a {
    color: rgb(0, 0, 211);
}

main a:hover {
    color: skyblue;
    font-weight: bold;
}
